annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_anyio_1742243108/work
argcomplete @ file:///home/conda/feedstock_root/build_artifacts/argcomplete_1743725982721/work
asgiref @ file:///C:/b/abs_ae1n0p_8_w/croot/asgiref_1724072476516/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1742502750715/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///D:/bld/cffi_1725560706917/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1741797914774/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///D:/bld/click_1734858834134/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
datamodel-code-generator @ file:///home/conda/feedstock_root/build_artifacts/datamodel-code-generator_1745866678192/work
Django @ file:///C:/b/abs_732pccxzov/croot/django_1745263601709/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi_1742822207/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1734302308128/work
genson @ file:///home/conda/feedstock_root/build_artifacts/genson_1601490042128/work
graphql-core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_graphql-core_1738014771/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1745526374115/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1745602916/work
httptools @ file:///D:/bld/httptools_1732707690819/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1688755023153/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
inflect @ file:///home/conda/feedstock_root/build_artifacts/inflect_1735424053773/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1733223141826/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1740643408806/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-spec @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-spec_1736621642699/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1689701150890/work
lazy-object-proxy @ file:///D:/bld/lazy-object-proxy_1744895541102/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///D:/bld/markupsafe_1733219614059/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1745349462661/work
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1745776566517/work
openapi-schema-validator @ file:///home/conda/feedstock_root/build_artifacts/openapi-schema-validator_1736695131485/work
openapi-spec-validator @ file:///home/conda/feedstock_root/build_artifacts/openapi-spec-validator_1689005226459/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pathable @ file:///home/conda/feedstock_root/build_artifacts/pathable_1736621665969/work/dist
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1733233363808/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1742485085/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1733222765875/work
prance @ file:///home/conda/feedstock_root/build_artifacts/prance_1744126532436/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1744192202330/work
pydantic_core @ file:///D:/bld/bld/rattler-build_pydantic-core_1743607711/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PySnooper @ file:///home/conda/feedstock_root/build_artifacts/pysnooper_1725879886500/work
PySocks @ file:///D:/bld/pysocks_1733217287171/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1740946542080/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1742948348/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1734420773152/work
PyYAML @ file:///D:/bld/pyyaml_1737454660454/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1691337268233/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rfc3339_validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1733599910982/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1743371105/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1733750834/work
rpds-py @ file:///D:/bld/bld/rattler-build_rpds-py_1743037491/work
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1736248049711/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1728724614818/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
sqlparse @ file:///C:/b/abs_68npyz0s6_/croot/sqlparse_1734704476369/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_starlette_1744661396/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
typeguard @ file:///home/conda/feedstock_root/build_artifacts/typeguard_1739732332423/work
typer==0.15.3
typer-slim==0.15.3
typing-inspection @ file:///home/conda/feedstock_root/build_artifacts/typing-inspection_1741438046699/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1744302253/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1744323578849/work
uvicorn @ file:///D:/bld/uvicorn_1745173471370/work
watchfiles @ file:///D:/bld/watchfiles_1744451388543/work
websockets @ file:///D:/bld/websockets_1741285497806/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
